<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 140px;">
  <span class="mask bg-gradient-danger opacity-8"></span>
</div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-12 order-xl-1">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">Mi cuenta</h3>
            </div>
            <div class="col-4 text-right">
              <a href="#!" class="btn btn-sm btn-success">Editar</a>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form>
            <h6 class="heading-small text-muted mb-4">Información del usuario</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-username">Nombre de usuario</label>
                    <input type="text" id="input-username" class="form-control form-control-alternative"
                    placeholder="lucky.jesse" disabled>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-email">Correo electrónico</label>
                    <input type="email" id="input-email" class="form-control form-control-alternative"
                    placeholder="jesse@example.com" disabled>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-first-name">Nombres</label>
                    <input type="text" id="input-first-name" class="form-control form-control-alternative"
                    placeholder="Lucky" disabled>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-last-name">Apellidos</label>
                    <input type="text" id="input-last-name" class="form-control form-control-alternative"
                    placeholder="Jesse" disabled >
                  </div>
                </div>
              </div>
            </div>
            <hr class="my-4" />
            <!-- Address -->
            <h6 class="heading-small text-muted mb-4">Información de contacto</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="form-control-label" for="input-address">Dirección</label>
                    <input id="input-address" class="form-control form-control-alternative"
                    placeholder="Bld Mihail Kogalniceanu, nr. 8 Bl 1, Sc 1, Ap 09" type="text" disabled>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-document">Cédula</label>
                    <input type="text" id="input-document" class="form-control form-control-alternative"
                    placeholder="1.151.958.712" disabled>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-phone">Numero de celular</label>
                    <input type="text" id="input-phone" class="form-control form-control-alternative"
                    placeholder="319370525" disabled>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-age">Edad</label>
                    <input type="number" id="input-age" class="form-control form-control-alternative"
                    placeholder="27" disabled>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
