<div class="header pb-8 pt-5 pt-md-8" style="background: linear-gradient(90deg, rgba(0,212,255,1) 0%, rgba(67,172,219,1) 20%, rgba(22,124,145,1) 100%);">
  <div class="container-fluid">
    <div class="container-fluid">
      <h1 class="title">Análisis de imágenes de Rayos X de tórax para COVID-19</h1>
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header bg-transparent">
          <h3 class="mb-0">Clasificar Imagen</h3>
        </div>
        <div class="card-body">
          <form name="myForm">
            <div style="margin-bottom:16px" layout="column" layout-align="center">
              <span style="font-weight:bold;font-size:13">Imagen:</span>
              <input type="file" name="file" ng-model="cn" class="form-control-file" (change)="capturarFile($event)"
                accept=".jpg,.jpeg,.png" style="font-size:13">
            </div>
            <div *ngIf="imagePreview" style="text-align: center;" >
              <img width="900px" [src]="imagePreview" id="imagen" class="img-responsive" />
            </div>
            <br>
            <div>
              <button type="button" [disabled]="loading" (click)="sendFile()" class="btn btn-info">
                {{(loading) ? 'Cargando...' : 'Clasificar'}}
              </button>
            </div>
            <div>
              <br>
              <h1>Resultado:</h1>
              <p style="font-size: 18px;">Predicción: {{ predictions }}</p>
              <p style="font-size: 18px;">Score: {{ score }}</p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
