<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <h1 class="title">Datos Fisiológicos</h1>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <!-- <div class="card-header border-0">
          <h3 class="mb-0">Card tables</h3>
        </div> -->
        <div style="padding: 27px;">

          <ul class="tabs-container">
            <li (click)="onTabClick('Presions')" [class.active]="activeTab == 'Presions'"
              class="tab-link">Presions Arterial</li>
            <li (click)="onTabClick('Temperatura')" [class.active]="activeTab == 'Temperatura'"
              class="tab-link"> Temperatura</li>
            <li (click)="onTabClick('Oxigenación')" [class.active]="activeTab == 'Oxigenación'"
              class="tab-link"> Oxigenación en sangre</li>
            <li (click)="onTabClick('Frecuencia')" [class.active]="activeTab == 'Frecuencia'"
              class="tab-link"> Frecuencia Cardiaca</li>
          </ul>
          <div *ngIf="activeTab == 'Presions'" class="w-100">
            <br>
            <br>
            <div class="col-xl-8 mb-5 mb-xl-0">
              <div class="card bg-gradient-default shadow">
                <div class="card-body">
                  <div class="chart">
                    <canvas id="chart-sales" class="chart-canvas"></canvas>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="activeTab == 'Temperatura'" class="w-100">
            Temperatura
          </div>
          <div *ngIf="activeTab == 'Oxigenación'" class="w-100">
            Frecuencia Cardiaca
          </div>
          <div *ngIf="activeTab == 'Frecuencia'" class="w-100">
            Frecuencia Cardiaca
          </div>

        </div>
      </div>
    </div>
  </div>
</div>