<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <h1 class="title">Datos Fisiológicos</h1>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <!-- <div class="card-header border-0">
          <h3 class="mb-0">Card tables</h3>
        </div> -->
        <div role="tabpanel" style="padding: 27px;">
          <ul class="nav nav-tabs">
            <li class="nav-item" role="presentation">
              <a class="nav-link active" aria-controls="seccion1" data-toggle="tab" role="tab" href="#seccion1">Active</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-controls="seccion2" data-toggle="tab" role="tab" href="#seccion2">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-controls="seccion3" data-toggle="tab" role="tab" href="#seccion3">Link</a>
            </li>
          </ul>
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="seccion1">
              <h1>
                Test 1
              </h1>
            </div>
            <div role="tabpanel" class="tab-pane" id="seccion2">
              <h1>
                Test 2
              </h1>
            </div>
            <div role="tabpanel" class="tab-pane" id="seccion3">
              <h1>
                Test 3
              </h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>